body {
    background-image: url("img/background.jpg");
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Amarela Stencil Two';
    src: url("fonts/amarela_stencil_two.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/montserrat.ttf")
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.show {
    display: initial;
    animation: fadeIn linear 0.2s;
}

.hide {
    display: none;
}

#navbar {
    border-width:1px 0;
    list-style:none;
    margin: 0;
    padding: 1;
    text-align:center;
    position: sticky;
    top: 0;
    background-color: transparent;
    border-radius: 10px;
}

#navbar ul {
    padding: 0;
}

#navbar li{
    display:inline;
}
#navbar button{
    display:inline-block;
    background-image: url("img/background.jpg");
    border-radius: 10px;
    border-width: 1px;
    border-color: grey;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 17px;
}

#navbar button:hover {
    transform: scale(1.05);
    transition: transform .1s;
    background-color: url("img/background.jpg");
}

#title {
    margin: 0;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Amarela Stencil Two';
}

.items {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-family: "Montserrat";
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    width: 100%;
}

#logo {
    border-radius: 50%;
    max-width: 17%;
    max-height: 17%;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 4px #000000;
}

img {
    border: 1px solid #000000;
}


.subtitle {
    text-align: center;
    font-size: 30px;
}

.image {
    max-width: 50px;
    max-height: 50px;
    padding: 1px;
    border-radius: 20%;
}

.imagetd {
    padding-left: 2px;
    width: 50px;
    height: 50px;
    overflow: auto;
}

.name {
    text-align: left;
    padding-left: 15px;
    inline-size: 50%;
    vertical-align: top;
}
.price {
    text-align: right;
    padding-right: 1%;
    vertical-align: top;
}

.subsection {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
